<section class="overflow-hidden relative ">

  <div class="px-8 md:px-12 pt-24 max-w-4xl mx-auto relative">
    <div>
      <!-- <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset"
      >
        <p>1  Spots available</p>
        <div class="h-2 w-2 rounded-full bg-black border-2 border-black "></div>

        <div class="h-2 w-2 rounded-full border-black border-2 "></div>
      </span> -->
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        Hi, I'm Yufei Chen <span class="block"
          >A Programmer &amp; Designer</span
        >
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-4xl gap-8 group h-full mt-12"
    >
      <div>
        <p>
          As a current full-stack developer, enrolled in the Master of Computer and Information Technology (MCIT) program at the University of Pennsylvania, I am actively seeking both internship and full-time job opportunities.
        </p>
      </div>
      <div>
        <p>
          As a former designer and artist, I built my works with a distinct creative perspective. As now I am transitioning into the tech industry, where I am excited to apply my innovative mindset and commitment to precision to make an impact.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          Code with Creativity, Design with Precision. <span class="block text-black">⏤ for some craftsmanship.</span>
        </p>
      </em>
    </ul>
  </div>
</section>
