<section class="scroll-mt-24" id="work">
  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto">
    
    <a href="https://animovie.vercel.app" class="block relative w-full bg-white rounded-3xl overflow-hidden" style="padding-top: 60%;">
      <img src="/LogoAniMovie.png" alt="Logo of AniMovie" class="absolute top-0 left-0 w-full h-full object-cover" />
      <span class="sr-only">View project</span> <!-- Optional: For accessibility -->
    </a>
    <p class="text-l text-zinc-500 text-center">
      An online pet video sharing platform.
    </p>

    <a href="/project/ipland" class="block relative w-full bg-white rounded-3xl overflow-hidden mt-32" style="padding-top: 60%;">
      <img src="/LogoIpland.png" alt="Logo of Ipland" class="absolute top-0 left-0 w-full h-full object-cover" />
      <span class="sr-only">View project</span> <!-- Optional: For accessibility -->
    </a>
    <p class="text-l text-zinc-500 text-center">
      An online pet video sharing platform.
    </p>

    <a href="/project/animawesome" class="block relative w-full bg-white rounded-3xl overflow-hidden mt-32" style="padding-top: 60%;">
      <img src="/LogoAnimawesome.png" alt="Logo of Animawesome" class="absolute top-0 left-0 w-full h-full object-cover" />
      <span class="sr-only">View project</span> <!-- Optional: For accessibility -->
    </a>
    <p class="text-l text-zinc-500 text-center">
      An online pet video sharing platform.
    </p>

    <a href="/project/zoologist" class="block relative w-full bg-white rounded-3xl overflow-hidden mt-32" style="padding-top: 60%;">
      <img src="/LogoZoologist.png" alt="Logo of Zoologist" class="absolute top-0 left-0 w-full h-full object-cover" />
      <span class="sr-only">View project</span> <!-- Optional: For accessibility -->
    </a>
    <p class="text-l text-zinc-500 text-center">
      An online pet video sharing platform.
    </p>

  </div>
</section>