<section class="scroll-mt-24" id="work">
  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto">
    <h2 class="text-xl tracking-tighter font-light text-black">
      Some of Minimal work.
    </h2>

    <a href="/project/animovie" class="block relative w-full bg-white rounded-3xl overflow-hidden" style="padding-top: 75%;">
      <img src="/alfred.png" alt="Description of the image" class="absolute top-0 left-0 w-full h-full object-cover" />
      <span class="sr-only">View project</span> <!-- Optional: For accessibility -->
    </a>
  </div>
</section>
